# .gitignore
data/

# Virtual environment
.venv/

# PyCharm files
.idea/
*.iml
*.iws
out/

.streamlit/secrets.toml
.nojekyll
uploaded_files_history.json
emojis - Copy.csv
assets/favicon_transparent1.png